<!DOCTYPE html>
<html lang="en">
<head>
<title>RepPicker</title>
</head>
<body>
	<h1> RepPicker:</h1>
	<h2>Inspiration for music program planning</h2>
	<div id="navbar">
		{% block navbar %}
		<ul id = "nav">
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'blog_index' %}">The Picker Review</a></li>
			<li><a href="/search-programs/">Programs</a></li>
			<li><a href="{% url 'list_songs' %}">Songs</a></li>
		</ul>
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>

