<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %} RepPicker {% endblock %}</title>
</head>
<body>
	<h1> Website tagline goes here </h1>
	<div id="navbar">
		{% block navbar %}
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'blog_index' %}">The Picker Review</a></li>
			<li><a href="/search-programs/">Search Programs</a></li>
			<li><a href="Search songs">Search Songs</a></li>
		</ul>
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>

